/* Styles for rot element */
* {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
--fontSize: 1.7rem;
--mainBG: rgb(10, 170, 170);
--questionSize: 2.5rem;
--scrnBrdr: .5rem;
}

/* Styles for <header> */

header {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--mainBG);
    align-items: center;
}

h1 {
    font-size: 3.1rem;
    display: inline;
    padding-top: var(--scrnBrdr);
    padding-bottom: var(--scrnBrdr);
}
.head button {
    border: none;
    font-size: var(--fontSize);
    display: inline;
    color: black;
    background-color: var(--mainBG);
}
.head p {
    font-size: var(--fontSize);
    display: inline;
}
.head p span {
    font-size: var(--fontSize);
    display: inline;
}

/* Style for Start Button, Questions, and Answers */

.qa {
    font-size: var(--questionSize);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--scrnBrdr);
    padding-top: 10%;
}
.qa ul {
    font-size: var(--questionSize);
}
.qa li {
    list-style: circle inside;
}
.qa li button{
    background-color: white;
    border: none;
    font-size: var(--fontSize);
    padding: var(--questionSize) var(--scrnBrdr) var(--scrnBrdr) var(--scrnBrdr);
}
.qa li button:hover {
    border: .2rem dashed var(--mainBG);
}
.qa li button:focus {
    outline: none;
    border: .2rem dashed var(--mainBG);
}

/* Style used to hide questions */
#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #highScores {
    display: none;
}

/* Style for score */

.playerScore {
    font-size: var(--questionSize);
    background-color: var(--mainBG);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: var(--scrnBrdr);
}
#playerScore {
    font-size: var(--questionSize);
}

.highScores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#highScores h2 {
    font-size: var(--questionSize);
    padding: var(--questionSize) var(--scrnBrdr) var(--scrnBrdr) var(--scrnBrdr);
}
#highScores ul {
    padding-bottom: var(--questionSize);
}
#highScores li {
    display: inline;
    font-size: var(--fontSize);
    padding: var(--scrnBrdr);
}
#scoreHide {
    font-size: var(--questionSize);
}